{% extends 'base.html' %} {% block header_constent %} {% load static %}
<link rel="stylesheet" href="{% static 'css/sign.css'%}" />
{%endblock%} {% block content %}
<div class="content">
  <!-- {% csrf_token %} -->
  <div class="form_container">
    <!-- <h2>Free Course</h2> -->

    <form method="post" class="form_content" action="{% url 'submit_form'%}">
      {% csrf_token %}
      <input
        class="input_type"
        type="text"
        name="username"
        value="{{username}}"
        id=""
        placeholder="Username"
        required
      />
      <input
        class="input_type"
        name="email"
        value="{{email}}"
        type="email"
        placeholder="Email"
      />
      <input
        class="input_type"
        name="password"
        type="password"
        value="{{password}}"
        placeholder="Password"
        required
      />
      <input
        class="input_type"
        name="birthdate"
        type="date"
        value="{{date}}"
        placeholder="Birthdate"
        required
      />
      <input class="submit_btn" type="submit" value="Sign in" required />
    </form>
  </div>
  
</div>
{% endblock %}
