{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- {% static 'src/output.css' %} -->
    <link rel="stylesheet" href="{% static 'src/output.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <title>{{title}}</title>
    <!-- {% block header %}Header{%endblock%} -->
  </head>
  <body>
    <header
      id="navlinks"
      class="fixed bg-cyan-400 top-0 right-0 left-0 flex justify-between items-center px-10 py-4"
    >
      <div class="md:inline-block hidden">
        <h1>LOGO</h1>
      </div>
      <div>
        <h1 class="text-2xl font-extrabold font-serif">Wayne Enterprise</h1>
      </div>
      <nav class="">
        <ul>
          <li class="md:hidden">
            <button>
              <i class="ri-menu-line text-2xl font-extrabold"></i>
            </button>
          </li>
        </ul>

        <ul
          class="absolute right-6 md:flex md:relative top-14 md:top-1/2 hidden"
        >
          <li>
            <a
              href="/"
              class="font-serif font-medium text-xl text-black md:mt-0 mt-2 md:mr-4 hover:text-cyan-600"
              >Home</a
            >
          </li>
          <li>
            <a
              href="{% url 'about' %}"
              class="font-serif font-medium text-xl text-black md:mt-0 mt-2 md:mr-4 hover:text-cyan-600"
              >About</a
            >
          </li>
          <li>
            <a
              href="{% url 'services' %}"
              class="font-serif font-medium text-xl text-black md:mt-0 mt-2 md:mr-4 hover:text-cyan-600"
              >Services</a
            >
          </li>
          <li>
            <a
              href="{% url 'project' %}"
              class="font-serif font-medium text-xl text-black md:mt-0 mt-2 md:mr-4 hover:text-cyan-600"
              >Project</a
            >
          </li>
          <li>
            <a
              href=""
              class="font-serif font-medium text-xl text-black md:mt-0 mt-2 md:mr-4 hover:text-cyan-600"
              >Sign in</a
            >
          </li>
        </ul>
      </nav>
    </header>
    
    <div
    class="w-full h-[100vh] flex justify-center items-center"
  >
  
    <form action="" class="border-black border-2 py-6  w-[450px] bg-orange-400">
      <div class="text-center font-extrabold text-3xl">
          <p>Wayne Enterprise</p>
      </div>
      <div class="m-2 flex flex-col items-center justify-center font-4xl rounded-sm">
        <label for="username" class="font-bold text-2xl text-black"
          >Username
        </label>

        <input
          type="text"
          name="Username"
          id="username"
          class="bg-gray-300 h-10 w-full p-2"
          required
        />
      </div>

      <div class="m-2 flex flex-col items-center justify-center font-4xl rounded-sm">
        <label for="password" class="font-bold text-xl text-black"
          >Password
        </label>

        <input
          type="password"
          name="Password"
          id="password"
          class="bg-gray-300 h-10 w-full p-2"
          required
        />
      </div>
      <div class="m-2 flex flex-col items-center justify-center font-4xl rounded-sm">
        <label for="email" class="font-bold text-xl text-black">Email </label>

        <input
          type="email"
          name="Email"
          id="email"
          class="bg-gray-300 h-10 w-full p-2"
          required
        />
      </div>

      <div class="m-2 flex flex-col items-center justify-center font-4xl rounded-sm">
        <label for="birthdate" class="font-bold text-xl text-black"
          >Birthdate
        </label>

        <input
          type="date"
          name="Birthdate"
          id="birthdate"
          class="bg-gray-300 h-10 w-full p-2"
          required
        />
      </div>
      <div class="m-2 flex flex-col items-center justify-center font-4xl rounded-sm">
          <input type="button" value="Submit"class="bg-blue-700 m-2 w-[400px] h-10 rounded-sm text-2xl font-bold hover:bg-blue-400 text-center" >
      </div>
    </form>
  </div>

    <!-- <main>{% block content %} replace me{% endblock %}</main> -->
    <!-- {% static 'js/base.js' %} -->
    <!-- <script type="text/javascript" src="/static//js/base.js"></script> -->
  </body>
</html>
