{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- {% static 'css/base.css' %} -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <title>{{title}}</title>
    {% block header_constent %}Header{%endblock%}
  </head>
  <body>
   
    <header id="header">
      <div class="logo_pic">
        <h1>LOGO</h1>
      </div>
      <div>
        <h1>Free Courses</h1>
      </div>
      <nav class="navlinks">
        <ul id="navlinks_list" class="">
          <li class="link_name">
            <a href="/">Home</a>
          </li>
          <li class="link_name">
            <a href="{% url 'about' %}">About</a>
          </li>
          <li class="link_name">
            <a href="{% url 'services' %}">Services</a>
          </li>
          <li class="link_name">
            <a href="{% url 'project' %}">Project</a>
          </li>
          <li class="link_name">
            <a href="{% url 'sign_up' %}">Sign in</a>
          </li>
        </ul>
        <div>
          <div id="dropdown_menu">
           <a href="" class="menu_icon">
            <i class="ri-menu-line open_menu" id="open_menu_btn"></i>
            <i class="ri-menu-line close_menu" id="close_menu_btn"></i>
           </a>

          <div id="drop_link_name">
            <a href="/">Home</a>

            <a href="{% url 'about' %}">About</a>

            <a href="{% url 'services' %}">Services</a>

            <a href="{% url 'project' %}">Project</a>

            <a href="{% url 'sign_up' %}">Sign up</a>
          </div>
        </div>
      </nav>
    </header>

    {% block content %} replace me{% endblock %}
    <!-- {% static 'js/base.js' %} -->
    <!-- <script type="text/javascript" src="/static//js/base.js"></script> -->
    <!-- <script>
      const open_menu_btn=document.getElementById('#open_menu_btn');
      const close_menu_btn=document.getElementById('close_menu_btn');
      const drop_link_name=document.querySelector('#drop_link_name');

      document.addEventListener('click',(event)=>{
        
        if(event.target.closest('#open_menu_btn')){
          console.log('Hello WOrld')
        //  close_menu_btn.classList.toggle('none');
        }
      })
     
    </script> -->
  </body>
</html>
